*{
margin: 0;
padding: 0;
box-sizing: border-box;
}




header{
    display: flex;
    max-width: 1280px;
    margin:auto;
    padding:20px 10px ; margin-top: 20px;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 2px 3px 10px gray;
    background-color: rgb(134, 150, 157);
}
.logo{
    font-size: 35px;
    animation: updown 0.6s ease infinite alternate;
    
}

.logo>span{
    color: red;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}


nav>ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

nav>ul>li>a{
    font-size: 20px;
    text-decoration: none;
}

nav>ul>li>a:hover{
   color: red;
}


nav button{

    padding: 10px;
    border-radius: 20px;
    
    
}

#GitHub{
    background-color: black;
}
#Lingdin{
    background-color: rgb(0, 114, 177);
}

.GL>button:hover{
    transform: scale(0.8);
    box-shadow: 5px 4px  15px rgb(221, 140, 17);
}




/* Header Css over */
/* Banner Css starts */

#banner{
    height: 80vh;
    align-items: center;
   display: flex;
    max-width: 1200px;
    margin: 50px auto;
    gap: 100px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    animation: leftslide 1s ease ;

}

@keyframes leftslide{
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}



.left>h2{
    font-size: 32px ;
}
#ROLE{
   color: red;
}
.left>p{
    font-size: 24px;
    color: gray;
    text-align: justify;
    line-height: 28px;
}

.buttons{ 
    display: flex;
    gap: 30px; 

}
#firstbtn:hover{
    transform: scale(1.1);
    text-shadow: 2px 3px 5px red;
    box-shadow: 1px  2px 7px rgb(59, 11, 218);
}

.secondbtn:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 5px ;
}


.buttons>button{
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 20px;

}
button>a{
    color: white;
    text-decoration: none;
    
}

#secondbtn{
    background-color: white ;
    
}
#secondbtn>a{
    color: black;
}

#secondbtn:hover{
    transform: scale(1.1);
    background-color: rgb(196, 182, 182);
}


.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: slide 1s ease ;

}


img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
}

/*banner Css end
  */

.title{
    text-align: center;
    font-size: 32px;margin: 20px auto;
    background-image: linear-gradient(to right,rgb(166, 156, 196),rgb(43, 4, 183));
    background-clip: text;
    color: transparent;
}

section{
    margin: auto;
    padding: 20px;
    max-width: 1280px;
    display: flex;
    gap: 30px;
}


.skill-tech{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background-color: black;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 1px 2px 10px rgb(227, 238, 241);
    color:red;

}

body{
    background-color: black;
    color: white;
}
.skills>img{
    border-radius:30px;
} 

.skill-tech:hover{
  box-shadow: 1px 2px 10px blue;

}
#skills{
    gap: 80px;
}

.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


.skills>img{
    height: 100%;
    width: 100%;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.project{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project:hover{
  box-shadow: 1px 2px 10px blue;

}

.project>img{
    width: 100%;
    height: 100%;

}
.project>button{
    background-color: rgb(244, 28, 28);
    color: rgb(33, 28, 155);
    font-size: 24px;
    padding: 10px;
    width: 200px;
    border-radius:20px;
}


/*
whatapp floating
*/
.floating-watsapp{
   position: fixed;
   bottom: 20px;
   right: 30px;
   
}
.img{
    height:50px;
    width: 50px;
   border-radius: 50%;
}
.floating-watsapp>#insta{
    position: fixed;
   bottom: 80px;
   right: 30px;
}

#insta>img{
     height:50px;
    width: 50px;
   border-radius: 50%;
    animation: insta 1.5s ease ;
}

@keyframes insta{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0px);
    }
}




@keyframes updown{
    100%{
        transform: translateY(10px);
    }
}



@keyframes slide{
    0%{
        transform: translatex(500px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes sslide{
    0%{
        transform: translatex(500px);
    }
    100%{
        transform: translateX(0px);
    }
}



@media (max-width:576px){

  
}